body{
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom:1px solid red;
  margin: 0;
  padding: 20px;
}
ol{
  border-right: 1px solid red;
  width:100px;
  margin: 0;
  padding: 20px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left:33px;
}
#grid #article{
  padding-left: 25px;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  h1 {
    border-bottom:none;
  }
  ol{
    border-right:none;
  }
}
