#white-dark {
  background-color: blue;
  border: none;
  color: white;
  padding: 30px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin: 4px 2px;
  cursor: pointer;
  width: 105%
}

body {
  margin: 0;
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

a:link,
a:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  color: #41adff;
}

a:hover,
a:active {
  background-color: red;
}

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid #bcbcbc;
  margin: 0;
  padding: 20px;
}

ol {
  border-right: 1px solid #bcbcbc;
  width: 230px;
  margin: 0;
  padding: 50px;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#grid ol {
  padding-left: 33px;
}

#grid #article {
  padding-left: 210px;
}

@media(max-width:1024px) {
  #grid {
    display: block;
  }

  h1 {
    border-bottom: none;
  }

  ol {
    border-right: none;
  }
}